:root {
    --excel-green: #1d7d4a;
    --excel-green-light: #48c790;
    --excel-green-dark: #09402a;
    --bg-dark: #101c17;
    --text-light: #f5f5f5;
    --text-dark: #181a19;
}

/* --- GLOBAL --- */
body {
    margin: 0;
    padding: 0;
    background: var(--bg-dark);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    color: var(--text-dark);
    font-size: 0.9rem;
}

/* --- CARD --- */
.card {
    background: linear-gradient(335deg, var(--excel-green), var(--excel-green-light));
    padding: 2rem 1.5rem;
    border-radius: 16px;
    width: 300px;
    text-align: center;
    /* ombra più morbida e profonda */
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.25);
}

/* --- FOTO CIRCOLARE --- */
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--bg-dark);
    margin-bottom: 15px;
}

/* --- TESTO --- */
.name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px 0 2px 0;
}

.role {
    margin: 0 0 20px 0;
    font-size: 0.9rem;
    opacity: 0.9;
    color: var(--bg-dark)
}

/* --- BOX CONTATTI --- */
.info-box {
    display: flex;
    background: white;
    padding: 12px;
    border-radius: 8px;
    margin: 0.8rem 0;
    transition: 0.15s ease-in-out;
    /* leggera ombra per "staccare" dal gradiente */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
    .info-box .icon {
        display: inline-block;
        width: 1rem;
        justify-content: center;
        margin: 0 1.5rem 0 1rem;
    }

    .icon i {
        color: var(--bg-dark);
    }

    .info-box:hover {
        background: #e9e9e9;
        transform: translateY(-2px);
    }

    .info-box a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.95rem;
    }
.footer {
    margin-top: 1.5rem;
}